spring:
  application:
    name: practica1
  datasource: #Configuracion de la conexi贸n con el SGBD
    url: jdbc:mariadb://localhost:3306/practica1db?useSSL=false
    username: root
    password:
  jpa: #Configuraci贸n del ORM JPA (HIBERNATE)
    show-sql: true
    hibernate:
      ddl-auto: create #validate #delete #delete-drop
  thymeleaf: #Configuraci贸n del motor de plantillas
    cache: false #En producci贸n se pone a true
    mode: HTML
server:
  port: 8080

